@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background: url("img/heder-star/Star2.svg") top 94px left 4vw no-repeat, url("img/heder-star/Star3.svg") top 69px left 10vw no-repeat, url("img/heder-star/starbig.svg") calc(100% + 480px) -333px no-repeat, url("img/heder-star/Star5.svg") calc(100% - 455px) 538px no-repeat, url("img/heder-star/Star4.svg") calc(100% - 344px) 568px no-repeat, rgb(225, 255, 143);
  overflow: hidden;
  height: 710px;
}

.header__container {
  max-width: 768px;
  padding-top: 196px;
}

.header__heading {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.header__text {
  color: #202027;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 24px;
  padding-bottom: 48px;
  max-width: 720px;
}

.header__text-bold {
  font-weight: 600;
}

.header__button {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  padding: 16px 28px;
  width: 247px;
  height: 66px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.header__button:hover {
  background: rgb(225, 255, 143);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
}

.scrol {
  background: rgb(188, 236, 48);
  padding: 27px 0px;
  overflow: hidden;
  display: flex;
}

.scrollbar {
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  gap: 51px;
  flex-shrink: 0;
}

.scrollbar__text {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
}

.games-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: url("img/Star1.svg") calc(100% + 77px) 143px no-repeat, url("img/Star11.svg") calc(100% - 1381px) 770px no-repeat, url("img/Star12.svg") calc(100% - 1340px) 822px no-repeat, #202027;
  overflow: hidden;
}

.games {
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  padding-top: 94px;
}

.games-text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  max-width: 788px;
  padding-bottom: 72px;
  padding-top: 24px;
}

.game-content {
  display: flex;
  flex-direction: column;
  padding: 32px;
  padding-bottom: 36px;
}

.game-card__number {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
  display: inline-block;
  padding: 8px 16px 10px;
}

.game-card__text {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  text-align: left;
  display: inline-block;
  padding-top: 16px;
}

.game-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  align-items: start;
  padding-bottom: 50px;
}

.game-card {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 378px;
}

.game-card:hover {
  transform: scale(1.1);
}

.game-card__image {
  border-radius: 30px;
  height: 314px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game-card--top {
  margin-top: -40px;
}

.game-card__image_type_1 {
  background-image: url(img/game_1.png);
}

.game-card__image_type_2 {
  background-image: url(img/game_2.png);
}

.game-card__image_type_3 {
  background-image: url(img/game_3.png);
}

.game-card__image_type_4 {
  background-image: url(img/game_4.png);
}

.game-card__image_type_5 {
  background-image: url(img/game_5.png);
}

.game-card__image_type_6 {
  background-image: url(img/game_6.png);
}

/* МИНИ-ИГРЫ*/
.minigames {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  background: url("img/Star 7.svg") calc(100% - 124px) 93px no-repeat, url("img/Star 6.svg") calc(100% - 45px) 126px no-repeat, url("img/Star 10.svg") calc(100% - 150px) 3414px no-repeat, url("img/Star 8.svg") calc(100% - 52px) 3366px no-repeat, #202027;
  padding-bottom: 144px;
}

.minigames__title {
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  padding-top: 46px;
  padding-bottom: 40px;
}

.minigame-block {
  display: flex;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.reversed {
  flex-direction: row-reverse;
}

.left-side {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  padding: 48px;
}

.minigame-name {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  /* line-height: 100%;*/
  text-align: left;
}

.minigame-text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-top: 24px;
  padding-bottom: 36px;
}

.minigame-button {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  padding: 16px 75px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.minigame-button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
}

.right-side {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: 600px;
  min-height: 500px;
}

.right-minig1 {
  background-image: url(img/minig1.png);
}

.right-minig2 {
  background-image: url(img/minig2.png);
}

.right-minig3 {
  background-image: url(img/minig3.png);
}

.right-minig4 {
  background-image: url(img/minig4.png);
}

.right-minig5 {
  background-image: url(img/minig5.png);
}

.right-minig6 {
  background-image: url(img/minig6.png);
}

.footer {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  background: rgb(189, 237, 53);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 61px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    background: url("img/heder-star/MobStar2.svg") calc(100% - 304px) 97px no-repeat, url("img/heder-star/MobStar3.svg") calc(100% - 264px) 64px no-repeat, url("img/heder-star/MobVector.svg") calc(100% + 114px) -103px no-repeat, url("img/heder-star/MobStar5.svg") calc(100% - 86px) 557px no-repeat, url("img/heder-star/MobStar4.svg") calc(100% - 34px) 580px no-repeat, rgb(225, 255, 143);
    overflow: hidden;
    height: 649px;
  }
  .header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 375px;
    height: 371px;
    padding-top: 147px;
  }
  .header__heading {
    width: 262px;
    font-size: 40px;
    line-height: 123%;
    letter-spacing: 0px;
    text-align: center;
  }
  .header__text {
    width: 296px;
    font-size: 16px;
    line-height: 123%;
    padding-top: 24px;
    padding-bottom: 36px;
    text-align: center;
  }
  .header__button {
    font-size: 16px;
    line-height: 20px;
    width: 285px;
    height: 55px;
  }
  .scrol {
    padding: 16px 24px;
  }
  .scrollbar {
    gap: 27px;
  }
  .scrollbar__text {
    font-size: 16px;
  }
  .scrollbar__star {
    width: 19px;
    height: 19px;
  }
  .games-container {
    display: none;
  }
  .minigames {
    padding: 0px 16px 10px 16px;
    gap: 25px;
    background-image: none;
  }
  .minigames__title {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    padding-top: 53px;
    padding-bottom: 28px;
  }
  .minigame-block {
    display: flex;
    flex-direction: column-reverse;
  }
  .left-side {
    padding-top: 29px;
    padding-right: 29px;
    padding-left: 29px;
    padding-bottom: 32px;
  }
  .minigame-name {
    font-size: 32px;
  }
  .minigame-text {
    font-size: 16px;
    line-height: 125%;
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .minigame-button {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 16px 110px;
  }
  .right-minig1,
  .right-minig2,
  .right-minig3,
  .right-minig4,
  .right-minig5,
  .right-minig6 {
    min-height: 285px;
    border-radius: 30px;
    width: 100%;
    background-size: 100%;
  }
  .minigame-text_mob {
    width: 240px;
  }
  .footer {
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */